<footer class="footer mt-auto py-3">
  <div class="container">
    <div class="company">
      <h4 class="text-shadow">Company</h4>
      <span>Menntavegur 1</span><br>
      <span>Reykjavík</span><br>
      <span>Iceland</span>
    </div>
    <div class="navigation">
      <h4 class="text-shadow">Navigation</h4>
      <span>Shipping and returns</span><br>
      <span>Privacy Policy</span><br>
      <span>About Us</span>
    </div>
    <div class="socials">
      <h4 class="text-shadow">Socials</h4>
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-instagram"></a>
    </div>
  </div>
</footer>