{% load static %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li id="home"><a href="{% url 'captain_console_index' %}">Home <span class="sr-only">(current)</span></a></li>
          <li id="consoles"><a href="{% url 'category_consoles' %}">Consoles</a></li>
          <li id="games"><a href="{% url 'category_games' %}">Games</a></li>
          <li id="accessories"><a href="{% url 'category_accessories' %}">Accessories</a></li>
          <li class="dropdown">
            <a href="{% url 'captain_console_index' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'category_posters' %}">Posters</a></li>
              <li><a href="{% url 'category_other' %}">Other</a></li>
              <li><a href="{% url 'deals' %}">DEALS!!!</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{% url 'returns' %}">Shipping & Returns</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{% url 'about_us' %}">About Us</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{% url 'contact_us' %}">Contact us!</a></li>
            </ul>
          </li>
        </ul>
        <!-- the login and cart buttons-->
        <ul class="nav navbar-nav navbar-right cart_and_profile">
          <form method="POST" action="{% url 'update_cart' %}">{% csrf_token %}
            <input type="hidden" id="cart_storage" name="cart_storage" value="">
          <!--<li id="cart"><p id = "nav_cart">Cart (0) <img src="{% static 'images/chest.svg' %}"></p></li>-->
            <button type="submit" id = "nav_cart" class="btn btn-default nav-cart-btn">Cart (0)<img src="{% static 'images/chest.svg' %}"></button>
          </form>
          {% if user.is_authenticated %}
            <!--<li id="profile"><a href="{% url 'category_consoles' %}">Profile <img src="{% static 'images/pirate.svg' %}"></a></li>-->
            <li>
              <a href="{% url 'captain_console_index' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile <img src="{% static 'images/pirate.svg' %}"><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a id="logout" href="{% url 'logout' %}">Logout</a></li>
                <li><a href="{% url 'captain_console_index' %}">Profile</a></li>
                <li><a href="{% url 'search_history' %}">Search History</a></li>
              </ul>
            </li>
          {% else %}
            <li><a href="{% url 'login' %}">Login <img src="{% static 'images/pirate.svg' %}"></a></li>
          {% endif %}
        </ul>
        <form class="navbar-form navbar-right" action="{% url 'search_page' %}" method="GET">

          <div class="input-group">
            <input type="text" class="form-control search-input" placeholder="Search" name="search_filter">
            <div class="input-group-btn">
              <button class="btn btn-default search-button" type="submit">
                <i class="glyphicon glyphicon-search"></i>
                <!--<img src="{% static 'images/spyglass.png' %}">-->
              </button>
            </div>
          </div>
          <!--<button type="submit" class="btn btn-default">Submit</button>-->

        </form>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>