{% load static %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li id="home"><a href="{% url 'captain_console_index' %}">Home <span class="sr-only">(current)</span></a></li>
          <li id="consoles"><a href="{% url 'category_consoles' %}">Consoles</a></li>
          <li id="games"><a href="{% url 'category_games' %}">Games</a></li>
          <li id="accessories"><a href="{% url 'category_accessories' %}">Accessories</a></li>
          <li class="dropdown">
            <a href="{% url 'captain_console_index' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Other <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'captain_console_index' %}">Action</a></li>
              <li><a href="{% url 'captain_console_index' %}">Another action</a></li>
              <li><a href="{% url 'captain_console_index' %}">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{% url 'captain_console_index' %}">Separated link</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{% url 'captain_console_index' %}">One more separated link</a></li>
            </ul>
          </li>
        </ul>
        <!-- the login and cart buttons-->
        <ul class="nav navbar-nav navbar-right cart_and_profile">
          <li id="cart"><a href="{% url 'cart_page' %}">Cart (0) <img src="{% static 'images/chest.svg' %}"></a></li>
          
          {% if user.is_authenticated %}
            <li id="profile"><a href="{% url 'category_consoles' %}">Profile <img src="{% static 'images/pirate.svg' %}"></a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
          {% else %}
            <li><a href="{% url 'login' %}">Login <img src="{% static 'images/pirate.svg' %}"></a></li>
          {% endif %}
        </ul>
        <form class="navbar-form navbar-right" action="{% url 'search_page' %}" method="GET">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" name="search_filter">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>