{% extends 'base.html'%}
{% load static %}
{% block content%}
    <div class="history">
        <div class="your_chest">Your recent searches</div>
        <ul class="search-list">
            <li class="search-row">
                <div class="search-col search-title">Date and time</div>
                <div class="search-col search-title">Search</div>
            </li>
        {% for h in history %}
            <li class="search-row">
                <div class="search-col">{{ h.time_stamp }}</div>
                <div class="search-col">{{ h.search }}</div>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}