{% extends 'base.html'%}
{% load static %}
{% block content%}
   <div class="profile_wrapper">
       <div class="profile_block_small">
           <img class="profile-picture" src="{{ user.profile.image.url }}" alt="Profile Picture">
           <div class="profile-title-small">Shipping Information</div>
           <div class="profile-info">
                <div> {{ user.profile.address }}, {{ user.profile.country }}</div>
               <div> {{ user.profile.phone }} </div>
            </div>
       </div>
       <div class="profile_block_large">
           <div class="profile-name">{{ user.username }}</div>
           <div>Member since: {{ user.date_joined }}</div>
           <div class="tabs">
               <input id="tab-one" type="radio" name="grp" checked />
                <label for="tab-one"><i class="fas fa-user"></i> User Information</label>
                <div class="tab-content">
                    <div class="user-info-row">
                        <div class="user-info-title-col">Name:</div>
                        <div>{{ user.username }}</div>
                    </div>
                    <div class="user-info-row">
                        <div class="user-info-title-col">Email:</div>
                        <div>{{ user.email }}</div>
                    </div>
                    <div class="user-info-row">
                        <div class="user-info-title-col">Country:</div>
                        <div>{{ user.profile.country }}</div>
                    </div>
                    <div class="user-info-row">
                        <div class="user-info-title-col">Address:</div>
                        <div>{{ user.profile.address }}</div>
                    </div>
                    <div class="user-info-row">
                        <div class="user-info-title-col">Phone:</div>
                        <div>{{ user.profile.phone }}</div>
                    </div>
                    <a href="{% url 'update_profile' %}"><i class="fas fa-pen"></i>Update Information</a>
                </div>
                <input id="tab-two" type="radio" name="grp" />
                <label for="tab-two"><i class="fas fa-eye"></i> Recently Viewed</label>
                <div class="tab-content">
                </div>
           </div>
       </div>
    </div>
{% endblock %}