{% extends 'base.html'%}
{% load static %}
{% block content%}

   <div class="profile_card">
        <img class="profile_picture" src="{{ user.profile.image }}" alt="Profile Picture">
        <div class="profile_name">
            {{ user.username }}
        </div>
        <div class="profile_info">
            <br>
            <p> Username: {{ user.username }} </p>
            <p> Phone: {{ user.profile.phone }} </p>
            <p> Address: {{ user.profile.address }} </p>
        </div>
        <li><a href="{% url 'update_profile' %}">   Update</a></li>
    </div>

{% endblock %}