{% extends 'base.html'%}
{% load static %}
{% block content%}
<div class="profile-title-small update-title">Update Information</div>
<div class="update_form">
    <form class="form form-horizontal" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="action-buttons">
            <a href="{% url 'profile_page' %}" class="update-profile-btn">Back to profile</a>
            <input type="submit" class="update-profile-btn" value="Update" />
        </div>
    </form>
</div>
{% endblock %}