{% extends 'base.html'%}

{% block content%}
<div class="product_detail_wrapper">
    <div class="product_image_container">
        <img class="product-detail-img" src="{{ product.productimage_set.first.image }}">
    </div>
    <div class="product_detail_container">
        <div class="product-detail-name">{{ product.name }}</div>
        <div class="product-detail-category">{{ product.category}}</div>
        <div class="product-info product-price display-sale-price-{{ product.on_sale }}"> {{product.getPrice }}</div>
        <div class="product-info product-price"> <p class="sale-{{ product.on_sale }}">{{ product.getOriginalPrice }}</p></div>
        <div class="product-qty-plunder-wrapper">
            <div class="product-qty detail-qty">
                <div class="qty-button">-</div>
                <input type="number" id="q{{ product.id }}" class="cart-product-qty" placeholder="1" min="1" value="1">
                <div class="qty-button">+</div>
            </div>
            <button id="p{{ product.id }}" type="submit" class="btn btn-primary btn-cart cart-button detail-button" action>Plunder</button>
        </div>
        <div class="product-detail-description">{{ product.description}}</div>
    </div>
</div>
{% endblock %}