{% extends 'base.html'%}
{% block content%}
<div class="your_chest">YOUR CHEST</div>
<div class="cart">
    {% for item in cart.cartitem_set.all %}
    <div class="cart_row cart_item">
        <a href='../product/{{item.product.id}}' class="cart-product-detail">
            <img class="product-img" src="{{ item.product.productimage_set.first.image }}">
            <div class="product-name cart-product-name">{{ item.product }}</div>
        </a>
        <div class="product-qty">
            <div id="r{{item.product.id}}" class="dec qty-button">-</div>
            <form method="POST">
                <input id="inf{{item.product.id}}" type="number" class="cart-product-qty" placeholder="nr" min="0" value="{{ item.quantity }}">
            </form>
            <div id="a{{item.product.id}}" class="inc qty-button">+</div>
        </div>
        <div id="price{{item.product.id}}" class="product-price">{{ item.product.getPrice }}</div>
    </div>
    {% endfor %}
</div>
<div class="cart_details">
    <a href="{% url 'captain_console_index' %}" class="checkout-btn">Continue Shopping</a>
    <div class="order-sum">Order Summary</div>
    <div class="order-details-text">
        <div>Sub-total:</div>
        <div>$0.00</div>
    </div>
    <div class="order-details-text">
        <div>Tax:</div>
        <div>$0.00</div>
    </div>
    <div class="order-details-text">
        <div>Shipping:</div>
        <div>FREE</div>
    </div>
    <div class="cart-total order-details-text">
        <div>Total:</div>
        <div id="total_price">{{ cart.getTotalPrice }}</div>
    </div>
    <form action="{% url 'contact_info_page' %}" method="POST">{% csrf_token %}
        <input type="hidden" id="checkout_cart" name="cart_storage">
        <button class="checkout-btn">Checkout</button>
    </form>
    <div class="accepted-payment">
        We accept:
        <img src="https://pluspng.com/img-png/payment-method-png-payment-options-1003.png" alt="Payment Methods"/>
    </div>
</div>
{% endblock %}