{% extends 'base.html'%}
{% block content%}

<div class="checkout-details-wrapper">
    <div class="progress-contact-wrapper">
        <div class="checkout-progress-wrapper">
            <div class="step-status">
                <div class="checkout-step active-step"></div>
                <div class="divider-line"></div>
                <div class="checkout-step"></div>
                <div class="divider-line"></div>
                <div class="checkout-step"></div>
            </div>
            <div class="step-status-text">
                <div>Shipping Step</div>
                <div>Payment Step</div>
                <div>Review Step</div>
            </div>
        </div>
        <div class="contact-info">
           <form class="form form-horizontal" method="POST">
                {% csrf_token %}
                <div class="contact-info-form-row">
                    <div class="contact-title">Country</div>
                </div>
                <div class="contact-info-form-row">
                    {{ contact_form.country}}
                </div>
                <div class="contact-info-form-row">
                    <div class="col-m"><div class="contact-title">Full name</div></div>
                    <div class="col-s"><div class="contact-title">Phone</div></div>
                </div>
                <div class="contact-info-form-row">
                    <div class="col-m">{{ contact_form.full_name }}</div>
                    <div class="col-s">{{ contact_form.phone }}</div>
                </div>
                <div class="contact-info-form-row">
                    <div class="contact-title">Address</div>
                </div>
                <div class="contact-info-form-row">
                    {{ contact_form.address }}
                </div>
                <div class="contact-info-form-row">
                    <div class="col-m">{{ contact_form.city }}</div>
                    <div class="col-s">{{ contact_form.postal_code }}</div>
                </div>
                <p id="user_city"class="hidden">{{ user.city }} </p>
                <p id="user_country"class="hidden">{{ user.country }} </p>
                <p id="user_postal_code"class="hidden">{{ user.postal_code }} </p>
                <p id="user_address" class="hidden">{{ user.address }} </p>
                <p id="user_phone" class="hidden">{{ user.phone }} </p>

                <input type="submit" class="btn btn-primary step-btn" value="Continue">
            </form>
<!--            <form id="contact_form" action="{% url 'payment_info_page' %}" class="order-form" method="POST">{% csrf_token %}-->
<!--                <input id="contact_name" name="name" type="text" placeholder="Fullname" class="order-form-input big" required/>-->
<!--                <input id="contact_address" name="address" type="text" placeholder="Address" class="order-form-input big" required/>-->
<!--                <div class="contact-row">-->
<!--                    <select id="contact_country" name="country" placeholder="Country" class="order-form-input small" required>-->
<!--                       <option value="" disabled selected>Country</option>-->
<!--                       <option value="Afganistan">Afghanistan</option>-->
<!--                       <option value="Albania">Albania</option>-->
<!--                       <option value="Algeria">Algeria</option>-->
<!--                    </select>-->
<!--                    <input id="contact_city" name="city" type="text" placeholder="City" class="order-form-input small" required/>-->
<!--                </div>-->
<!--                <div class="contact-row">-->
<!--                    <input id="contact_post_code" name="post_code" type="text" placeholder="Postal Code" class="order-form-input small" required/>-->
<!--                    <input type="submit" value="Next" class="order-form-input step-btn small"/>-->
<!--            </div>-->
<!--            </form>-->
        </div>
    </div>
    <div class="order-details">
        <div class="your-order-chest">Your Chest</div>
        {% for item in cart.cartitem_set.all %}
        <div class="order-product-row">
            <div class="order-product-name-qty">
                {{ item.product }} (x{{ item.quantity }})
            </div>
            <div class="order-product-price">
            {{ item.getTotalPrice }}
            </div>
        </div>
        {% endfor %}
        <div class="order-product-row order-total"><div>Total:</div><div id="total_price">{{ cart.getTotalPrice}}</div></div>
    </div>
</div>
{% endblock %}