{% extends 'base.html'%}
{% block content%}
<div class="checkout-details-wrapper">
    <div class="progress-contact-wrapper">

        <div class="checkout-progress-wrapper">
            <div class="step-status">
                <a href="{% url 'contact_info_page' %}"><div class="checkout-step active-step"></div></a>
                <div class="divider-line active-step"></div>
                <div class="checkout-step active-step"></div>
                <div class="divider-line"></div>
                <div class="checkout-step"></div>
            </div>
            <div class="step-status-text">
                <div>Shipping Step</div>
                <div>Payment Step</div>
                <div>Review Step</div>
            </div>
        </div>
        <div class="payment-info">
            <div class="payment-block">
                <div class="paypal-block">
                    <div class="paypal-info-text">Connect your PayPal account to speed up the process</div>
                </div>
                <div class="paypal-block">
                    <button class="paypal-button"><i class="fab fa-paypal"></i> Connect with PayPal</button>
                </div>
            </div>
            <div class="payment-block">
                <form class="form form-horizontal" method='POST' enctype='multipart/form-data'>
                    {% csrf_token %}
                    <div class="contact-info-form-row"><div class="contact-title">Cardholder Name</div></div>
                    <div class="contact-info-form-row">{{payment_form.name}}</div>
                    <div class="contact-info-form-row"><div class="contact-title">Card Number</div></div>
                    <div class="contact-info-form-row">{{payment_form.number}}</div>
                    <div class="contact-info-form-row"><div class="contact-title">CVC</div></div>
                    <div class="contact-info-form-row">{{payment_form.cvc}}</div>
                    <div class="contact-info-form-row"><div class="contact-title">Expiration Date</div></div>
                    <div class="contact-info-form-row">{{payment_form.expiry}}</div>
                    <button type="submit" class="btn btn-default step-btn">Next</button>
                </form>
            </div>
        </div>
    </div>
    <div class="order-details">
        <div class="your-order-chest">Your Chest</div>
        {% for item in cart.cartitem_set.all %}
        <div class="order-product-row">
            <div class="order-product-name-qty">
                {{ item.product }} (x{{ item.quantity }})
            </div>
            <div class="order-product-price">
            {{ item.getTotalPrice }}
            </div>
        </div>
        {% endfor %}
        <div class="order-product-row order-total"><div>Total:</div><div>{{ cart.getTotalPrice}}</div></div>
    </div>
</div>
{% endblock %}