{% extends 'base.html'%}
{% block content%}
<form id="contact_form" action="{% url 'payment_info_page' %}" method="POST">{% csrf_token %}
    <input id="contact_name" name="name" type="text" placeholder="Fullname" required/>
    <input id="contact_address" name="address" type="text" placeholder="Address" required/>
    <input id="contact_city" name="city" type="text" placeholder="City" required/>
    <select id="contact_country" name="country" placeholder="Country" required>
      <option value="" disabled selected>Country</option>
      <option value="denmark">Denmark</option>
      <option value="iceland">Iceland</option>
      <option value="norway">Norway</option>
      <option value="sweden">Sweden</option>
    </select>
    <input id="contact_post_code" name="post_code" type="text" placeholder="Postal Code" required/>
    <input type="submit" value="Next"/>
</form>
<h1>Cart</h1>
{% for item in cart.cartitem_set.all %}
  <div class="cart_row cart_item">
      <img class="product-img" src="{{ item.product.productimage_set.first.image }}">
      <div class="product-name cart-product-name">{{ item.product }}</div>
      <div class="product-price">{{ item.product.getPrice }}</div>
      <p> amount = {{ item.quantity }}</p>
      <p> total = {{ item.getTotalPrice }} </p>
  </div>
{% endfor %}
{% endblock %}