{% extends 'base.html'%}
{% block content%}

<div class="checkout-details-wrapper">
    <div class="progress-contact-wrapper">
        <div class="checkout-progress-wrapper">
            <div class="step-status">
                <div class="checkout-step active-step"></div>
                <div class="divider-line"></div>
                <div class="checkout-step"></div>
                <div class="divider-line"></div>
                <div class="checkout-step"></div>
            </div>
            <div class="step-status-text">
                <div>Shipping Step</div>
                <div>Payment Step</div>
                <div>Review Step</div>
            </div>
        </div>
        <div class="contact-info">
           <form class="form form-horizontal" method="POST">
                {% csrf_token %}
                <div class="contact-info-form-row">
                    <div class="contact-title">Country</div>
                </div>
                <div class="contact-info-form-row">
                    {{ contact_form.country}}
                </div>
                <div class="contact-info-form-row">
                    <div class="col-m"><div class="contact-title">Full name</div></div>
                    <div class="col-s"><div class="contact-title">Phone</div></div>
                </div>
                <div class="contact-info-form-row">
                    <div class="col-m">{{ contact_form.full_name }}</div>
                    <div class="col-s">{{ contact_form.phone }}</div>
                </div>
                <div class="contact-info-form-row">
                    <div class="contact-title">Address</div>
                </div>
                <div class="contact-info-form-row">
                    {{ contact_form.address }}
                </div>
                <div class="contact-info-form-row">
                    <div class="col-m">{{ contact_form.city }}</div>
                    <div class="col-s">{{ contact_form.postal_code }}</div>
                </div>
                <p id="user_city"class="hidden">{{ user.city }} </p>
                <p id="user_country"class="hidden">{{ user.country }} </p>
                <p id="user_postal_code"class="hidden">{{ user.postal_code }} </p>
                <p id="user_address" class="hidden">{{ user.address }} </p>
                <p id="user_phone" class="hidden">{{ user.phone }} </p>
                <p id="user_full_name" class="hidden">{{ user.full_name }} </p>
                <p id="user_email" class="hidden">{{ user.email }} </p>
                <input type="submit" class="btn btn-primary step-btn" value="Next">
            </form>
        </div>
    </div>
    <div class="order-details">
        <div class="your-order-chest">Your Chest</div>
        {% for item in cart.cartitem_set.all %}
        <div class="order-product-row">
            <div class="order-product-name-qty">
                {{ item.product }} (x{{ item.quantity }})
            </div>
            <div class="order-product-price">
            {{ item.getTotalPrice }}
            </div>
        </div>
        {% endfor %}
        <div class="order-product-row order-total"><div>Total:</div><div id="total_price">{{ cart.getTotalPrice}}</div></div>
    </div>
</div>
{% endblock %}