{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container_text">
        <h2>WE ARE CAPTAIN CONSOLE!!!</h2>
        <p>
            We have existed longer than you can remember so it is about time we joined the world wide web.
            We really hope this new improvement of ours will help all those so called introverts out there,
            but we still hope you come visit. Our stores really are the best (at least to the best of OUR knowledge).
        </p>
        <div class="container_picture">
            <img class="image-text-page" src="https://ssl.c.photoshelter.com/img-get2/I0000EDZhhMbT_20/fit=1000x750/ND-20132561025.jpg">
        </div>
        <p>
            We have always sold all sort of consoles, games and more and welcome all new ideas for anything that's missing.
            Like little Timmy, he suggested we add posters. Challenge accepted, we did our part, now it's your turn to do yours.
            All you have to do is leave a comment in the Contact Us section OR you can just come and talk to us you little brats.
            If you do you will know that our gaming knowledgeable staff not only understand your needs,
            they also educate you on latest gaming trends or just the old ones since they are still our favorite.
            You can also avail of offers/deals which are exclusive to our stores.
            This experience ensures that our customers come back to satisfy their gaming needs.
        </p>
    </div>
{% endblock %}