{% extends 'base.html'%}
{% block content%}
<div class="cart">
    <h1>Cart</h1>
    {% for item in cart.cartitem_set.all %}
    <div class="cart_row cart_item">
        <img class="product-img" src="{{ item.product.productimage_set.first.image }}">
        <div class="product-name cart-product-name">{{ item.product }}</div>
        <div class="product-qty">
            <div class="inc qty-button">+</div>
            <form method="POST">
                <input type="number" class="cart-product-qty" placeholder="nr" min="0" value="{{ item.quantity }}">
            </form>
            <div class="dec qty-button">-</div>
        </div>
        <div class="product-price">{{ item.product.getPrice }}</div>
         <a href='{% url "update_cart" item.product.id %}?qty=0'>Remove</a>
    </div>
    {% endfor %}
    <div class="cart_total">
        <h3>Total: {{ cart.getTotalPrice }}</h3>
        <a href="../checkout/">Proceed to checkout</a>
    </div>
</div>
{% endblock %}