{% extends 'products/product_category.html'%}
{% load static %}
{% block extra %}
    <div class="container_centered">
        <form class="form-inline" method='POST' action="" enctype='multipart/form-data'>
            {% csrf_token %}
            {{form.ORDER}}

            {% csrf_token %}
            {{form.FILTER}}
            
            {% csrf_token %}
            {{form.FILTER_TYPE}}

            {% csrf_token %}
            {{form.FILTER_DISCOUNT}}
            <button type="button" id="apply-button" class="btn btn-default">Apply</button>
        </form>
    </div>
{% endblock %}